*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* html {
    font-size: 62.5%;
}*/

body {
    box-sizing: border-box;
    font-family: Open Sans;
}

.react-datepicker, .react-datepicker__month-container {
    width: 100%;
}

.react-datepicker__day-names, .react-datepicker__week {
    padding: 7px 8px;
    display: flex;
    justify-content: space-around;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    margin-top: 10px;
}


.react-datepicker__header {
    background-color: #FFFFFF;
    border-bottom: 0;

    .react-datepicker__day-names, .react-datepicker__week {
        padding: 7px 0;
        display: flex;
        justify-content: space-between;
        width: 90%;
        border-bottom: 2px solid rgba(42, 42, 59, 0.2);
        margin-left: 5%;
    }
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    border-radius: 50%;
    width: 32px;
    background-color: #B81199;
    color: #fff;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    border-radius: 50%;
    width: 32px;
    background-color: #B81199;
    color: #fff;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--selected:active,
.react-datepicker__day--selected:focus  {
    border-radius: 50%;
    width: 32px;
    background-color: #B81199;
    color: #fff;
}

.react-datepicker__day--today {
    background-color: white;
    color: #000;
}
